@import "tailwindcss";

:root {
  --font-size-course-details-heading-small: 26px;
  --line-height-course-details-heading-small: 36px;

  --font-size-course-details-heading-large: 36px;
  --line-height-course-details-heading-large: 44px;

  --font-size-home-heading-small: 40px;
  --line-height-home-heading-small: 40px;

  --font-size-home-heading-large: 60px;
  --line-height-home-heading-large: 64px;

  --font-size-default: 15px;
  --line-height-default: 21px;
}

@layer utilities {
  .text-course-details-heading-small {
    font-size: var(--font-size-course-details-heading-small);
    line-height: var(--line-height-course-details-heading-small);
  }
  .text-course-details-heading-large {
    font-size: var(--font-size-course-details-heading-large);
    line-height: var(--line-height-course-details-heading-large);
  }
  .text-home-heading-small {
    font-size: var(--font-size-home-heading-small);
    line-height: var(--line-height-home-heading-small);
  }
  .text-home-heading-large {
    font-size: var(--font-size-home-heading-large);
    line-height: var(--line-height-home-heading-large);
  }
  .text-default {
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
  }

  .overflow-wrap-break {
    overflow-wrap: break-word;
  }
  .hyphens-auto {
    hyphens: auto;
  }
  .section-height {
    height: 500px;
  }
  
}

@layer components {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

@layer utilities {
  .max-w-course-card {
    max-width: 424px;
  }
  .shadow-custom-card {
    box-shadow:0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }
}
